<div fxFlex="8" class="item-col-left" fxFlex.xs="20" fxFlex.sm="15">
    <div class="item-logo">logo</div>
</div>
<div fxFlex="62" class="item-col-right sec-description" fxFlex.xs="80" fxFlex.sm="65" fxFlexAlign="left" fxLayout.xs="row">
    Asus R541NA-RB21T Pentium® Quad-Core N4200 1.1GHz 500GB 4GB 15.6" (1366x768) TOUCHSCREEN BT WIN10 Webcam RED -
    R541NA-RB21T-RD
</div>
<div fxFlex="15" class="item-col-right" fxFlex.xs="80" fxFlex.sm="15" fxShow [fxShow.xs]="false">
    Available<br />
    2,917
</div>
<div fxFlex="15" class="item-col-right" fxFlex.xs="80" fxFlex.sm="15" [fxShow.xs]="false">
    Price<br />
    $229
</div>