/* TOOLTIP */
.wrapper {
    position: relative;
    z-index: 999;
  }
  
  .wrapper .tooltip.red {
    background:#FF655B;
  }
  
  .wrapper .tooltip.purple {
    background:#493b8d;
    left: -15px;
  }
  
  .wrapper .tooltip {
    background: #8FD96D;
    bottom: 100%;
    color: #fff;
    display: block;
    left: -9px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    width: 120px;
    text-align:center;
    border-radius:5px;
    z-index:2000;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    }
  .wrapper .tooltip.white {
    width: auto;
    left: -10px;
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid rgba(51,51,51,0.30);
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .wrapper .tooltip.white span, .wrapper .tooltip.white p {
    white-space: nowrap;
  }
  .wrapper .tooltip.white .tooltip__header {
    margin-bottom: 4px;
  }
  .wrapper .tooltip.white span {
    opacity: 0.7;
  }
  
  .wrapper .tooltip.white.more-info-tooltip {
    max-width: 400px;
    min-width:400px;
    left: -10px;
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid rgba(51,51,51,0.30);
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .wrapper .tooltip.white.more-info-tooltip span {
    white-space: normal;
  }
  
  .wrapper .tooltip.white.restrictions {
    min-width: 400px;
    max-width: 400px;
    left: -10px;
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid rgba(51,51,51,0.30);
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .wrapper .tooltip.white.restrictions span {
    white-space: normal;
  }
  
  .wrapper .tooltip.white.lead-lp {
    width: auto;
    left: -10px !important;
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid rgba(51,51,51,0.30);
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .wrapper .tooltip.white.lead-lp:before {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #ffffff 10px;
    bottom: -9px;
    content: "";
    height: 0;
    left: 21px;
    margin-left: -10px;
    position: absolute;
    width: 0;
    z-index: 2;
  }
  
  .wrapper .tooltip.white.lead-lp:after {
    border-top-color: rgba(51,51,51,0.30);
    left:21px;
  }
  
  .wrapper .tooltip.warranty {
    width: 370px;
    left: -0px;
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid rgba(51,51,51,0.30);
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .wrapper .tooltip.warranty:after {
    border-top-color: rgba(51,51,51,0.30);
    left:15px;
  }
  
  .wrapper .tooltip.warranty:before {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #ffffff 10px;
    bottom: -9px;
    content: "";
    height: 0;
    left: 12px;
    margin-left: -10px;
    position: absolute;
    width: 0;
    z-index: 2;
  }
  
  .wrapper .tooltip.packaging {
    width: 370px;
    left: -100px;
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid rgba(51,51,51,0.30);
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .wrapper .tooltip.packaging:after {
    border-top-color: rgba(51,51,51,0.30);
    left:115px;
  }
  
  .wrapper .tooltip.packaging:before {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #ffffff 10px;
    bottom: -9px;
    content: "";
    height: 0;
    left: 112px;
    margin-left: -10px;
    position: absolute;
    width: 0;
    z-index: 2;
  }
  
    .wrapper .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    }
  
    .wrapper .tooltip.red:after {
      border-top:solid #FF655B 10px;
    }
  
    .wrapper .tooltip.purple:after {
      border-top:solid #493b8d 10px;
      left:30px;
    }
  
  .wrapper .tooltip.white.lead {
      left:-11px !important;
  }
  
  .wrapper .tooltip.white.lead:after {
      left:22px;
  }
  
  .wrapper .tooltip.white.lead:before {
      left:22px;
  }
  
    .wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #8FD96D 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 24px;
    margin-left: -13px;
    position: absolute;
    width: 0;
    }
  .wrapper .tooltip.white:after {
    border-top-color: rgba(51,51,51,0.30);
    left: 22px;
    margin-left: -10px;
    z-index: 1;
  }
  .wrapper .tooltip.white:before {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #ffffff 10px;
    bottom: -9px;
    content: "";
    height: 0;
    left: 22px;
    margin-left: -10px;
    position: absolute;
    width: 0;
    z-index: 2;
  }
  
    .wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
        transform: translateY(0px);
  }
  .wrapper.eta-svg .tooltip.white{
    width: 130px;
    left: -41px;
    bottom: 18px;
    text-align: center;
    padding: 5px;
    border: 1px solid rgba(51,51,51,0.30);
    border-radius: 4px;
  }
  .wrapper.eta-svg .tooltip.white:after {
    border-left: solid transparent 6px;
    border-right: solid transparent 6px;
    border-top: solid rgba(51,51,51,0.30) 6px;
    bottom: -6px;
    margin-left: -6px;
  }
  .wrapper.eta-svg .tooltip.white:before {
    border-left: solid transparent 6px;
    border-right: solid transparent 6px;
    border-top: solid #ffffff 6px;
    bottom: -5px;
    margin-left: -6px;
  }
  .wrapper.eta-svg .tooltip.white p.tooltip__header{
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    margin: 11px auto;
  }
  .wrapper.eta-svg p span{
    opacity: 0.7;
  }
    /* IE can just show/hide with no transition */
    .lte8 .wrapper .tooltip {
    display: none;
    }
  
    .lte8 .wrapper:hover .tooltip {
    display: block;
    }


    .tooltip.white.RESTRICTIONS{
      width:400px!important;
    }
    .tooltip.white.ETA{
      width:150px!important;
    }