.item-icon {
  padding: 1px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.no-label {
  padding-left: 6px;
  padding-right: 12px;
}
.item-icon-image {
  padding-top: 2px;
  position: relative;
  display: inline-block;
}
.item-icon-label {
  font-size: 14px;
  line-height: 24px;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  display: inline-block;
  top: -7px;
}
