<ng-container [ngSwitch]="buttonType">
    <ng-container *ngSwitchCase="EButtonTypes.DEALS">
        <span class="item-icon no-label">
            <span class="item-icon-image">
                <img class="rocket" height="24" src="assets/images/todays-specials-purple.svg" width="24">
            </span>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="EButtonTypes.GREEN">
        <span class="item-icon no-label">
            <span class="item-icon-image">
                <img height="24" src="assets/images/price-drop-item-green.svg" width="24" /></span>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="EButtonTypes.CONDITION">
        <span class="item-icon">
            <span class="item-icon-image">
                <img alt="Condition" src="assets/images/icons/Condition.svg">
            </span>
            <span class="item-icon-label" [fxShow.xs]="false">Factory Refurbished</span>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="EButtonTypes.ROCKET">
        <span class="item-icon no-label">
            <span class="item-icon-image">
                <img class="rocket flipped-img" height="24" src="assets/images/rocket-item-red.svg" width="24" /></span>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="EButtonTypes.RESTRICTIONS">
        <span class="item-icon no-label">
            <span class="item-icon-image">
                <img alt="Restrictions" src="assets/images/icons/Restrictions.svg"></span>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="EButtonTypes.ETA">
        <span class="item-icon">
            <span class="item-icon-image">
                <img alt="ETA" src="assets/images/icons/eta.svg"></span>
            <span class="item-icon-label" [fxShow.xs]="false">4 Days</span>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="EButtonTypes.PACKAGING">
        <span class="item-icon">
            <span class="item-icon-image">
                <img alt="Condition" src="assets/images/icons/Packaging.svg">
            </span>
            <span class="item-icon-label" [fxShow.xs]="false">Branded Box</span>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="EButtonTypes.WARRANTY">
        <span class="item-icon">
            <span class="item-icon-image">
                <img alt="Condition" src="assets/images/icons/Warranty.svg">
            </span>
            <span class="item-icon-label" [fxShow.xs]="false">90 Day Warranty</span>
        </span>
    </ng-container>
</ng-container>