<div class="sec-footer">
    <app-icon-item [buttonType]="EButtonTypes.DEALS"></app-icon-item>
    <app-icon-item [buttonType]="EButtonTypes.GREEN"></app-icon-item>
    <app-icon-item [buttonType]="EButtonTypes.RESTRICTIONS"></app-icon-item>
    <app-icon-item [buttonType]="EButtonTypes.ETA"></app-icon-item>
    <app-icon-item [buttonType]="EButtonTypes.CONDITION"></app-icon-item>
    <app-icon-item [buttonType]="EButtonTypes.WARRANTY"></app-icon-item>
    <app-icon-item [buttonType]="EButtonTypes.PACKAGING"></app-icon-item>
</div>