app-item {
  width: 100%;
  display: block;
}
.bounds {
  background-color: #fff;
  width: 90%;
  margin: auto;
}

.nav-aside {
  max-width: 200px;
  min-width: 200px;
  background: #493b8d;
  height: 5000px !important;
}
.nav-content {
}
