app-item-content {
  width: 100%;
  display: block;
}
:host {
  display: block;
  box-sizing: border-box;
}
.item-wrapper {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  height: 155px;
  margin-bottom: 8px;
}

