:host {
  padding: 0;
  width: 100%;
  box-sizing: border-box;  
  background-color: #f8f8f8;
}
.sec-footer {
  padding-top: 6px;
  padding-bottom: 1px;
  padding-left:10px;
  background-color: #f8f8f8;
  width: 100%;
  margin-top: 0;
}

@media screen and (max-width: 706px) {
  .sec-footer {
    font-size:12px;
  }
}
