<footer class="content flow row" fxLayoutGap="1px">
    <article class="sec-footer">
        <ng-container>
            <app-icon-item [buttonType]="ButtonTypes.GREEN">

            </app-icon-item>
            <app-icon-item [buttonType]="ButtonTypes.DEALS">

            </app-icon-item>
            <app-icon-item [buttonType]="ButtonTypes.ROCKET">
                
            </app-icon-item>
            <span class="footer-items-toggle">
                <ng-template #dynamic></ng-template>
                <!-- <app-icon-item [buttonType]="ButtonTypes.CONDITION"></app-icon-item>
                <app-icon-item [buttonType]="ButtonTypes.ETA"></app-icon-item>
                <app-icon-item [buttonType]="ButtonTypes.WARRANTY"></app-icon-item>
                <app-icon-item [buttonType]="ButtonTypes.PACKAGING"></app-icon-item>
                <app-icon-item [buttonType]="ButtonTypes.RESTRICTIONS"></app-icon-item> -->
            </span>
        </ng-container>
    </article>
</footer>