<article fxLayout="row" fxLayout.xs="row" fxLayoutGap="1px">
    <div class="sec-footer">
        <app-icon-item [buttonType]="ButtonTypes.DEALS"></app-icon-item>
        <app-icon-item [buttonType]="ButtonTypes.GREEN"></app-icon-item>
        <app-icon-item [buttonType]="ButtonTypes.RESTRICTIONS"></app-icon-item>
        <app-icon-item [buttonType]="ButtonTypes.ETA"></app-icon-item>
        <app-icon-item [buttonType]="ButtonTypes.CONDITION"></app-icon-item>
        <app-icon-item [buttonType]="ButtonTypes.WARRANTY"></app-icon-item>
        <app-icon-item [buttonType]="ButtonTypes.PACKAGING"></app-icon-item>
    </div>
</article>